//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 06 19:25:05 2016
//! **************************************************************************

SCHEMATIC START;
COMP "a" LOCATE = SITE "T17" LEVEL 1;
COMP "b" LOCATE = SITE "T18" LEVEL 1;
COMP "c" LOCATE = SITE "U17" LEVEL 1;
COMP "d" LOCATE = SITE "U18" LEVEL 1;
COMP "e" LOCATE = SITE "M14" LEVEL 1;
COMP "f" LOCATE = SITE "N14" LEVEL 1;
COMP "g" LOCATE = SITE "L14" LEVEL 1;
COMP "anodes<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "anodes<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "anodes<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodes<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clock" LOCATE = SITE "V10" LEVEL 1;
COMP "reset" LOCATE = SITE "A8" LEVEL 1;
COMP "AD_sel" LOCATE = SITE "T5" LEVEL 1;
COMP "dump_mem" LOCATE = SITE "T10" LEVEL 1;
COMP "status<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "status<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "status<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "status<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "status<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "status<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "status<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "status<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "step_clk" LOCATE = SITE "C9" LEVEL 1;
COMP "step_mem" LOCATE = SITE "C4" LEVEL 1;
SCHEMATIC END;

