//! **************************************************************************
// Written by: Map P.20131013 on Sat Sep 17 18:21:00 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Q<0>" LOCATE = SITE "N11" LEVEL 1;
COMP "Q<1>" LOCATE = SITE "R11" LEVEL 1;
COMP "Q<2>" LOCATE = SITE "T11" LEVEL 1;
COMP "clock" LOCATE = SITE "V10" LEVEL 1;
COMP "reset" LOCATE = SITE "A8" LEVEL 1;
COMP "M" LOCATE = SITE "T5" LEVEL 1;
COMP "step" LOCATE = SITE "C9" LEVEL 1;
COMP "X" LOCATE = SITE "T10" LEVEL 1;
COMP "Z" LOCATE = SITE "U16" LEVEL 1;
SCHEMATIC END;

