# Pinouts for Nexys3 Board  (Spartan6-XC6SLX16-324)

# Start I/O Pin Assignments
 NET "clock"        LOC = "v10"  ; # 100 MHz board clock

# Slide Switches
 NET "X"      LOC = "t10"  ;       # SW0
 NET "M"      LOC = "t5"   ;       # SW7

# Push Buttons
 NET "reset"       LOC = "a8"   ;  # btnU
 NET "step"       LOC = "c9"   ;   # btnD   

# LED's
 NET "Z"    LOC = "u16"  ;         # LD0
 NET "Q[0]"    LOC = "n11"  ;      # LD5
 NET "Q[1]"    LOC = "r11"  ;      # LD6
 NET "Q[2]"    LOC = "t11"  ;      # LD7

